<div class="container">


<h3>Employee form  </h3>
<form #form = ngForm    >
    <div  class = "form-group" [class.has-error]="firstName.invalid && firstName.touched" >

            <label class = "control-label" for ="firstNameId" >First Name </label>
            <input id="firstNameId" type = "text" class= "form-control"
            required
            minlength="3"
            name="firstname" 
            #firstName ="ngModel"
            [(ngModel)] = "model.firstName"
            >
        <div *ngIf="firstName.invalid && firstName.touched" class="allert alert-danger " >
            Enter the name 
        </div>
     </div>
    
    <!-- <div class = "form-group">
            <label for= "lastNameId"><h5>Last Name</h5> </label>
            <input id="lastNameId" type = "text" class= "form-control" required placeholder="Last Name" name="lastname" 
            [(ngModel)] = "model.lastname" >
    </div>
    
    <div class="checkbox">
        <label>
            <input type="checkbox" name ="is-full-time "
             [(ngModel)] = "model.isFullTime"> Full Time Employee
        </label>
    </div>
     <label>
            <h4>Payment Type</h4> 
         </label>
           <div class="radio">
        <label>
            <input type = "radio" name = "paymentType" value ="w2" checked
            [(ngModel)] = "model.paymentType">
            w2
        </label>
    </div>
   
    
    <div class="radio">
            <label>
                <input type = "radio" name = "paymentType" value ="1099"
                [(ngModel)] = "model.paymentType">
                1099
            </label>
        </div>
  
   <div class="form-group">
       <label><h5>Primary Language</h5></label>
       <select class ="form-control"
                name="primaryLanguage"
                [(ngModel)]="model.primaryLanguage">
            <option *ngFor="let lang of languages" >
                {{ lang }}
            </option>
        
       </select>
   </div>

   <div class = "form-group">
        <label for= "dateHiredId"><h5>Date Hired</h5> </label>
        <input id="dateHiredId" type = "date" class= "form-control" required placeholder="First Name" name="firstname" ngModel >
</div>
  -->
    
    <button class="btn btn-primary" type="submit">Ok</button>
    
</form>
<!-- Model: {{model | json }}
<br>
Angular: {{form.value | json }} -->
</div>