<h3 *ngIf = "languages.length <= 0 ">Loading......</h3>
<div class="container" *ngIf = "languages.length >0 ">


<h3>Employee form  </h3>
<form #form = "ngForm"  (submit) = "submitForm(form)" notvalidate >
    <div  class = "form-group" [class.has-error]="firstName.invalid && firstName.touched" >

            <label class = "control-label" for ="firstNameId" >First Name </label>
            <input id="firstNameId" type = "text"
            pattern="...+"
            class= "form-control"
            name="firstname" 
            #firstName ="ngModel"
            required
            [(ngModel)] = "model.firstName"
            >
        <div *ngIf="firstName.invalid && firstName.touched" class="allert alert-danger " >
            The First Name is Required 
        </div>
     </div>
    
    <div class = "form-group"[class.has-error]="lastName.invalid && lastName.touched" >
            <label class = "control-label" for= "lastNameId">Last Name </label>
            <input id="lastNameId" type = "text" class= "form-control" required  name="lastname" 
            #lastName = "ngModel"
            pattern="...+"
            required
            [(ngModel)] = "model.lastName" >
            <div *ngIf="lastName.invalid && lastName.touched" class="allert alert-danger " >
                    The last name is reqiuerd
                </div>
    </div>
    
    <div class="checkbox">
        <label>
            <input type="checkbox" name ="is-full-time "
             [(ngModel)] = "model.isFullTime"> Full Time Employee
        </label>
    </div>
     <label>
            <h4>Payment Type</h4> 
         </label>
           <div class="radio">
        <label>
            <input type = "radio" name = "paymentType" value ="w2" checked
            [(ngModel)] = "model.paymentType">
            w2
        </label>
    </div>
   
    
    <div class="radio">
            <label>
                <input type = "radio" name = "paymentType" value ="1099"
                [(ngModel)] = "model.paymentType">
                1099
            </label>
        </div>
  
   <div class="form-group" [class.has-error]="hasPrimaryLanguageError">
       <label class = "control-label"><h5>Primary Language</h5></label>
    <select class ="form-control"
       name="primaryLanguage"
       #primaryLanguage
          [(ngModel)]="model.primaryLanguage"
          (blur)="validatePrimaryLanguage(primaryLanguage.value)"
          (change)="validatePrimaryLanguage(primaryLanguage.value)">
                <option value="default" >Select a Language...</option>
            <option *ngFor="let lang of languages" >
                {{ lang }}
            </option>
        
       </select>
   </div> 
  <button class="btn btn-primary" type="submit" 
  [disabled]="form.invalid && !(model.hasPrimaryLanguageError)">Ok</button>

</form>
<!-- Model: {{model | json }}
<br>
Angular: {{form.value | json }} -->

</div>